/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p,
ol,
ul,
li,
button {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */

ol,
ul,
li {
  list-style: none;
}

/* Set core root defaults */

html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

/* A elements that don't have a class get default styles */

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

a, button, input[type="submit"], input[type="checkbox"], input[type="radio"], select {
  cursor: pointer;
  transition: all .3s linear;
}

path {
  transition: fill 0.4s ease;
}


/* Make images easier to work with */

img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
  font: inherit;
  resize: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

input,
textarea,
select {
  outline: none;
  border: none;
}


/* Remove all animations and transitions for people that prefer not to see them */

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}